#items {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    gap: 10px;
}

.item:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.item {
    text-align: center;
    align-content: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    width: 60px;
}

.item p {
    margin: 0;
}

.item p:first-child {
    font-size: 24px;
    border: 2px solid #000;
}

.item p:nth-child(2) {
    font-style: italic;
}

.item p:last-child {
    font-weight: bold;
}

/*make cart item stick to page top even while scrolling*/
.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    background-color: #fff;
    border-left: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

#cart {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 40px;
}
#cart:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #f0f0f0;
    cursor: pointer;
}
